<!DOCTYPE html>
<!--the layout page which serves as template for home and profile pages-->
<html>
	<head>
		<meta charset="utf-8">
		<!--place holder for title-->
		<title>{% block title %}{% endblock %}</title> 
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>UOD MAP &#x1F5FA; </h1>
                <a href="/home"><i class="fas fa-home"></i>Home</a>
				<a href="/profile"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			<!--place holder for body content-->
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
